h1 {
    border: 2px dotted green;
}

div {
    height: 200px;
    width: 500px;
    border: 2px solid black;
    margin: 10px 20px 30px;
    background-color: pink;
    border-right: 2px dotted red;
    border-radius: 10px;
    text-align: center;
    padding-top: 25px;

}